.media-img{
  width: auto;
  height:150px;
  border-radius: 12px;
}

.media-pane{
  background: white;
  border: 1px solid #cdd8ff;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 0px #ffe7e761;
}

.span-name{
  font-size: 14px;
  font-weight: 500;
}
